* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  body {
    font-family: Oswald;
    text-align: center;
    color: white;
  }

  #main1 {
    padding: 60px;
    background-image: url('images/alanbg.webp'); 
    background-size: cover;
    color: white;
  }

  #main2 {
    padding: 60px;
    margin-top: 0;
    background-image: url('images/backgroundthing.webp'); 
    background-size: cover;
    color: black;
  }

  #main3 {
    padding: 60px;
    margin-top: 0;
    background-image: url('images/fnfreal.webp'); 
    background-size: cover;
    color: white;
  }

  #main4 {
    padding: 60px;
    margin-top: 0;
    background-image: url('images/isntthatthedeservedbg.webp'); 
    background-size: cover;
    color: black;
  }

  #main5 {
    padding: 60px;
    margin-top: 0;
    background-image: url('images/backgroundthing.webp'); 
    background-size: cover;
    color: black;
  }

  #main6 {
    padding: 60px;
    margin-top: 0;
    color: black;
  }
  
  .sidenav {
    height: 100%;
    width: 100;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .sidenav a {
    padding: 10px 35px 32px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /* Header/Blog Title */
  .header {
    padding: 15px;
    font-size: 40px;
    background-color: #212121;
    width: 45%;
    margin: auto;
    border-radius: 15px;
  }
  
  .leftcolumn {
    width: 40%;
    margin: auto;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #212121;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #212121;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: #212121;
    margin-top: 20px;
    width: 43%;
    margin: auto;
    border-radius: 15px;
  }
  
  a:link {
    background-color: #212121;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    -webkit-text-stroke: 0px black; 
    display: inline-block;
  }
  
  a:visited {
    background-color: #212121;
    color: white;
    padding: 15px 25px;
    -webkit-text-stroke: 0px black; 
    display: inline-block;
  }
  
  a:active {
    background-color: #373737;
  }
  
  img {
    border-radius: 15px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
