.topnav {
  width: 100%;
  background-color: #000019;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 74%;
  font-family: "Oswald";
}

.topnav a:hover {
  background-color: #0E86D4;
  color: black;
}

footer {
  background-color: #000019;
  font-family: "Oswald";
  color: white;
  text-align: center;
  font-size: 10px;
}

.footerContainer {
  width: 100%;
  padding: 12px 0 25px;
  padding-right: 10%;
}

#logo {
  padding-left: 10%;
  height: 100px;
  float: left;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
  
.socialIcons a {
  background-color: #ffffe6;
  width: 55px;
  height: 55px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

.socialIcons a:hover {
  background-color: #0E86D4;
  filter: invert(0);
}

.socialIcons img {
  max-width: 35px;
  max-height: 35px;
}

footer {
  position: absolute;
  margin: 0;
  max-height: 100%;
  box-sizing: inherit;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}